@import './reset';

@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexcenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

}
body{
    background: $primary-color;
    color: $text-color;
  
    
}
.main {
    @include flexcenter(row);
    width: 80%;
    margin: 0 auto;

    #{&}-paragraph1 {
        font-weight: weight(bold);
        &:hover{
            color: pink;
        }
    }
    #{&}-paragraph2 {
        @extend .main-paragraph1;
    
        &:hover{
            color: yellow;
    }
    }
}

